.banner_home {
    
    img {
        display: block;
        max-width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}